<div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Know.me", root_path, id: "logo" %>
        </div>
      </div>
    </header>

    <div class="center hero-unit">
        <h3>Call to know more about Ameya Kulkarni</h3>
        <h2>Enter your phone number to get details about Ameya Kulkarni</h2>
          <p style="color: #ff0000"><%= params['msg'] %></p>
        <form action="/voice_resume/makecall" method="post">
          <input type="text" name="number" /><br/>
          <input type="submit" class="btn btn-large btn-primary" value="Call me!">
        </form>
    </div>

  <div class="row">
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag "scuba.jpg" %>
        <div class="caption">
          <h5>Adventure lover</h5>
          <p>I love taking adventure vacations with my loving wife. My wife and I love scuba diving and hiking. My dream is to become a certified scuba diver and dive in each of the top 10 diving locations. So far, we have covered Cozumel, Hawaii and Maldives.</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag "cricket_ameya.jpg" %>
        <div class="caption">
          <h5>Avid cricket follower</h5>
          <p>I love watching and playing cricket. I have played cricket at college level and religiously follow cricket even today. I give other sports a chance as well :) I follow college football being an Aggie and college basketball being a Daredevil. This works perfectly for me!</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="thumbnail">
        <%= image_tag "couple.jpg" %>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Know.me 2013</p>
  </footer>

</div>
